
<div class="container">
  <h2>Buscar Repositórios</h2>
  <input type="text" [(ngModel)]="nome" placeholder="Digite o nome do usuário GitHub" />
  <button (click)="buscarRepos()">Buscar</button>

<div *ngIf="repositorios.length > 0" class="repos-container">
  <h3>Repositórios encontrados</h3>

  <div *ngFor="let repo of repositorios" class="repo-card">
    <div class="repo-header">
      <a [href]="repo.url" target="_blank" class="repo-name">{{ repo.nome }}</a>
    </div>
    <p class="repo-description">{{ repo.descricao || 'Sem descrição.' }}</p>
    <div class="repo-meta">
      <span *ngIf="repo.stars > 0" class="stars">⭐ {{ repo.stars }}</span>
    </div>
  </div>
</div>
